/* NAVBAR
****************/
#header-logo {
  font-family:Lucida Console;
  font-weight: bold;
  font-size:28px;
  font-variant:small-caps;
  color: #ae5a41;
}

/* TABLE
********************/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    font-weight: bold;
    border: 1px solid #5a5255;
    text-align: center;
    padding: 8px;
}

.td-number {
  border: 1px solid	#5a5255;
  text-align: center;
  width: 8%;
  padding: 8px;
}

.td-name {
  border: 1px solid	#5a5255;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
    background-color:  #76B19B;
}

table tr td a {
    color: black;
    display:block;
    height:100%;
    width:100%;
}

table tr td a:hover {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    display:block;
    height:100%;
    width:100%;
}

table tr td a:visited {
    text-decoration: none;
    color: black;
    display:block;
    height:100%;
    width:100%;
}

/* PAGINATION
******************/
.pagination {
    text-align: center;
    width: 100%;
}

.pagination button:hover {
  background-color: #ae5a41;
  color: white;
}

/* BUTTONS DETAIL
****************/
.button-group {
    text-align: center;
    width: 100%;
}

.button-group button {
  width: 130px;
}
